*{
    margin: 0;
    padding: 0;
}

.container{
    margin-right: 50px;
    margin-left: 25px;
}
.logo{
    margin-top: 5px;
}


body {
    background:#ddd url(images/image0\ \(2\).jpg);
    font-family:"Raleway";
}
